@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,200;0,400;0,700;1,100&family=PT+Serif:ital,wght@0,400;0,700;1,700&family=Victor+Mono:wght@100;500&display=swap');

body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
  background-image: linear-gradient(black, black, aqua);
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  text-align: center;
}

.wrapper {
  display: inline-block;
  background-color: black;
  border: 2px solid black;
  font-weight: bold;
  box-shadow: 1px 1px 10px 10px aqua;

}

.circle {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
}

.center-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

}

button {
  padding: 10px 20px;
  background-image: linear-gradient(black, black);
  color: #fff;
  /* font-weight: bold; */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 40px;
  transition: transform 0.4s ease-in-out;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

}

button:hover {
  box-shadow: 2px 2px 10px 10px aqua;
  transform: scale(1.05);

}

.buttons {
  display: flex;
  margin-left: 15%;
}